.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(17, 26, 44);
    padding: 15px;
    color: white;
}

.brandname{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.Search_bar input{
    width: 500px;
    height: 40px;
    border: none;
    outline: 0;
    border-radius: 5px;
   padding-left: 5px;
}


.Navbar_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   background-color: rgb(78, 24, 129);
   color: white;
   
}

.items{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}